body { background-color: #222; font-family: monospace; }
a:link { color: orange; font-weight: bold; }
a:visited { color: orange }
a:hover { color: red }
div#ls {
  width: 100%;
  opacity: 0%;
  font-family: monospace; 
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -200px;
}
div#hud {
  margin: 200px auto 10px auto;
  width: 350px;
}
div#score {
  color: yellow;
  float: left; 
}
div#miss-countdown {
  color: yellow;
  float: right;
}
div#asterisk-attack {
  /* background-color: #333; */
  position: relative;
  width: 350px;
  height: 200px;
  margin: auto;
  overflow: hidden;
}
div#attack-zone {
  width: 100%;
  height: 150px;
  /* background-color: #444; */
}
div#defense-zone {
  height: 40px; 
}
div#defender {
  color: red;
  line-height: 3px;
  /* background-color: gray; */
  position: absolute;
  left: 0;
}
div#civilians {
  /* background-color: #666; */ 
  height: 10px;
}
div.asterisk {
  /* background-color: pink; */
  line-height: 3px;
}
div#start, div#quit {
  text-align: center;
}

