body { 
  background-color: #222;
  font: normal bold normal 16px 'Inconsolata', monospace;
}

div#game {
  position: relative;
  width: 800px; 
  margin: 0 auto;
  /* border: solid 1px gray; */
}

div#logo {
  position: absolute;
  top: -200px;
  z-index: 1001;
  width: 800px;
  text-align: center;
  opacity: 0;
}

div#asterisk-attack {
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */
}

div#hud {
  color: yellow;
  padding: 15px;
}

div#score {
  position: absolute;
  top: 145px;
  right: 15px;
}

div#countdown {
  position: absolute;
  top: 145px;
}

div#attack-zone {
  width: 100%;
  height: 400px;
  /* box-sizing: border-box; */
  /* border: 1px solid green; */
}

div#defender {
  color: red;
  line-height: 15px;
  position: absolute;
  left: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

div#buffer-zone {
  height: 40px;
  /* box-sizing: border-box; */
  /* border: 1px solid white; /1* albacore *1/ */
}

div#civilians {
  color: green;
  height: 100px;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: 1px solid orange; */
}

div.asterisk {
  line-height: 3px;
  position: absolute;
  top: -10px;
}

div#start-btn a, div#temp-start-btn a {
  text-decoration: none; 
}

div#start-btn {
  position: absolute;
  z-index: 1002;
  width: 800px;
  top: 250px;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: solid 1px hotpink; */
}

div#temp-start-btn {
  position: absolute;
  top: 250px;
  width: 800px;
  text-align: center;
}

div#quit-instruction {
  font-size: .9em;
  color: yellow;
  position: absolute;
  width: 800px;
  top: 15px;
  left: -1300px;
  text-align: center;
}

