$game-width: 900px;

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: #101010;
  overflow-x: hidden; // Prevents sidescroll due to negative absolute pos.
}

div#stars {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  /* box-sizing: border-box; */
  /* border: solid 1px tomato; */
}

div#screen-size-error {
  display: none;
  position: absolute;
  z-index: 200;
  top: 150px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;

  a#reload-page:link,
  a#reload-page:visited,
  a#reload-page:hover,
  a#reload-page:active {
    color: #999;
    text-decoration: none;
  }
  a#reload-page:hover {
    color: dodgerblue;
  }
}

div#game {
  position: relative;
  z-index: 300;
}

div#centering-div {
  position: relative;
  margin: 0 auto;
  width: 1px;
  /* box-sizing: border-box; */
  /* border: solid 1px gray; */

  > div#play-btn,
  > div#menu,
  > div#top-scores-back-link-wrapper,
  > div#how-to-play-back-link-wrapper {
    z-index: 1;
  }

  > div#menubar {
    position: absolute;
    top: 0;
    left: 0;
    width: $game-width * 10;
    height: 65px;
    margin: 0 0 0 (-$game-width * 10 / 2);
    background-color: #101010;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-bottom: solid 1px #333;
  }

  > div#logo,
  > div#digital-score,
  > div#play-btn,
  > div#game-over-msg,
  > div#digital-how-to-play-headline,
  > div#how-to-play,
  > div#how-to-play-back-link-wrapper,
  > div#menu,
  > div#how-to-quit-msg,
  > div#digital-top-scores-headline,
  > div#top-scores,
  > div#top-scores-back-link-wrapper {
    display: none;
    position: absolute;
    width: $game-width;
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px lime; */
  }

  > div#logo {
    top: 100px;
  }

  > div#digital-score,
  > div#digital-top-scores-headline,
  > div#digital-how-to-play-headline {
    top: 209px;
  }

  > div#play-btn, div#game-over-msg {
    color: white;
    top: 310px;
    /* box-sizing: border-box; */
    /* border: solid 1px blue; */

    a {
      color: white;
      text-decoration: none;
    }
  }

  > div#menu,
  > div#top-scores-back-link-wrapper,
  > div#how-to-play-back-link-wrapper,
  > div#how-to-quit-msg {
    color: yellowgreen;
    top: 23px;

    a {
      color: yellowgreen;
      text-decoration: none;
    }
  }

  > div#top-scores {
    color: #333;
    top: 300px;
  }

  > div#how-to-play {
    color: #999;
    top: 350px;
  }

  > div#starless-areas {
    position: absolute;
    width: 1000px;
    height: 439px;
    margin: 0 0 0 -500px;
    /* box-sizing: border-box; */
    /* border: solid 1px seagreen; */

    > div.starless {
      position: absolute;
      bottom: 0;
      background-color: #101010;
      /* box-sizing: border-box; */
      /* border: solid 1px limegreen; */
    }

    > div#starless1 {
      left: 160px;
      width: 110px;
      height: 50px;
    }

    > div#starless2 {
      left: 290px;
      width: 90px;
      height: 140px;
    }

    > div#starless3 {
      left: 370px;
      width: 60px;
      height: 50px;
    }

    > div#starless4 {
      left: 565px;
      width: 110px;
      height: 70px;
    }

    > div#starless5 {
      left: 620px;
      width: 115px;
      height: 160px;
    }

    > div#starless6 {
      left: 720px;
      width: 45px;
      height: 105px;
    }

    > div#starless7 {
      left: 775px;
      width: 110px;
      height: 32px;
    }
  }

  > div#background {
    position: absolute;
    top: 235px;
    width: $game-width * 2;
    margin: 0 0 0 (-$game-width);
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px teal; */

    > div#antenas {
      color: #101010;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      /* box-sizing: border-box; */
      /* border: solid 1px coral; */
    }

  }
}

div#zones {
  position: relative;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */

  ::selection {
    background-color: rgba(0,0,0,0);
  }

  > div.heatray {
    color: deeppink;
    position: absolute;
  }

  > div#attack-zone {
    position: relative;
    width: $game-width;
    height: 575px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid lime; */

    > svg.asterisk {
      position: absolute;
      /* box-sizing: border-box; */
      /* border:solid 1px slategray; */

      @keyframes rotateFwd {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes rotateBwd {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-360deg);
        }
      }

      &.rf1 { // i.e. Rotate Forward #1
        animation: rotateFwd 0.5s linear infinite;
      }
      &.rf2 {
        animation: rotateFwd 1s linear infinite;
      }
      &.rf3 {
        animation: rotateFwd 2s linear infinite;
      }
      &.rb1 { // i.e. Rotate Backward #1
        animation: rotateBwd 0.5s linear infinite;
      }
      &.rb2 {
        animation: rotateBwd 1s linear infinite;
      }
      &.rb3 {
        animation: rotateBwd 2s linear infinite;
      }
    }

  }

  > div#game-over-zone {
    width: $game-width;
    height: 50px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid white; /1* albacore *1/ */
  }
}

div#defender {
  position: absolute;
  z-index: 400;
  top: -50px;
  line-height: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

div#game-over-flashboom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: white;
}

