$game-width: 900px;

body { 
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: #101010;
  overflow-x: hidden;
}

div#screen-size-error {
  display: none;
  color: white;
  text-align: center;
  margin-top: 150px;

  a#reload-page:link,
  a#reload-page:visited,
  a#reload-page:hover,
  a#reload-page:active {
    color: #999;
    text-decoration: none;
  }
  a#reload-page:hover {
    color: dodgerblue;
  }
}

div#effects {
  position: relative;
  margin: 0 auto;
  width: 1px;
  /* box-sizing: border-box; */
  /* border: solid 1px gray; */

  > div#menubar {
    width: $game-width * 10;
    height: 65px;
    background-color: #101010;
    background-color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    border-bottom: solid 1px #444;
  }

  > div#logo,
  > div#score,
  > div#start-btn,
  > div#game-over,
  > div#instructions,
  > div#instructions-done,
  > div#menu,
  > div#quit-instructions,
  > div#scoreboard-header,
  > div#scoreboard,
  > div#scoreboard-done {
    display: none;
    position: absolute;
    width: $game-width;
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px lime; */
  }

  > div#logo {
    top: 100px;
  }

  > div#score,
  > div#scoreboard-header {
    top: 209px;
  }

  > div#start-btn, div#game-over {
    color: white;
    z-index: 1043;
    top: 310px;
    /* box-sizing: border-box; */
    /* border: solid 1px blue; */

    a {
      color: white;
      text-decoration: none;
    }
  }
  
  > div#menu,
  > div#scoreboard-done,
  > div#instructions-done,
  > div#quit-instructions {
    color: yellowgreen;
    z-index: 1005;
    top: 23px; 

    a {
      color: yellowgreen;
      text-decoration: none;
    }
  }

  > div#scoreboard {
    color: #333;
    z-index: 1007;
    top: 300px;
  }

  > div#instructions {
    color: #777;
    top: 350px;
  }

  > div#background {
    position: absolute;
    top: 235px;
    width: $game-width * 2;
    margin: 0 0 0 (-$game-width);
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px teal; */

    > div#antenas {
      color: #101010;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      /* box-sizing: border-box; */
      /* border: solid 1px coral; */
    }
  }
}

div#zones {
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */

  > div#attack-zone {
    position: relative;
    width: $game-width;
    height: 525px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid lime; */
  }

  > div#game-over-zone {
    width: $game-width;
    height: 100px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid white; /1* albacore *1/ */
  }
}

div#defender {
  position: absolute;
  top: -50px;
  line-height: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

