$game-width: 900px;

body { 
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: bold;
  background: #101010 url('../img/stars.jpg') no-repeat center top;
  overflow-x: hidden;
}

div#screen-size-error {
  display: none;
  color: white;
  text-align: center;
  margin-top: 250px;

  a#reload-page:link,
  a#reload-page:visited,
  a#reload-page:hover,
  a#reload-page:active {
    color: #999;
    text-decoration: none;
  }
  a#reload-page:hover {
    color: dodgerblue;
  }
}

div#effects {
  position: relative;
  margin: 0 auto;
  width: 1px;
  /* box-sizing: border-box; */
  /* border: solid 1px gray; */

  > div#logo, div#score, div#start-btn, div#game-over, div#instructions, div#quit-instructions, div#scoreboard-header, div#scoreboard, div#scoreboard-link, div#scoreboard-done {
    display: none;
    position: absolute;
    top: 75px;
    width: $game-width;
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px lime; */
  }

  > div#score, div#scoreboard-header {
    top: 184px;
  }

  > div#start-btn {
    z-index: 1043;
    top: 275px;
    /* box-sizing: border-box; */
    /* border: solid 1px blue; */
  }

  > div#start-btn a {
    text-decoration: none;
  }

  > div#game-over {
    color: #555;
    top: 325px;
    /* box-sizing: border-box; */
    /* border: solid 1px redorange; */
  }

  > div#instructions, > div#quit-instructions {
    font-size: .9em;
    color: #777;
    top: 625px;
  }

  > div#scoreboard {
    color: #333;
    z-index: 1007;
    top: 275px;
    width: $game-width;
  }

  > div#scoreboard-link, div#scoreboard-done {
    z-index: 1005;
    top: 650px; 
  }

  a#scoreboard-link-btn, a#scoreboard-done-btn  {
    color: #ccc;
    text-decoration: none;
  }

  > div#background {
    position: absolute;
    top: 200px;
    width: $game-width * 2;
    margin: 0 0 0 (-$game-width);
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px teal; */
  }

  > div.antena {
    position: absolute;
    font-size: .6em;
    color: #111;
  }

  > div#antena1 {
    top: 355px;
    left: -470px;
  }

  > div#antena2 {
    top: 283px;
    left: -294px;
  }

  > div#antena3 {
    top: 211px;
    left: -182px;
  }

  > div#antena4 {
    top: 192px;
    left: 178px;
  }

  > div#antena5 {
    top: 301px;
    left: 345px;
  }

  > div#antena6 {
    top: 391px;
    left: 474px;
  }

}

div#zones {
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */

  > div#attack-zone {
    position: relative;
    width: $game-width;
    height: 600px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid lime; */
  }

  > div#game-over-zone {
    width: $game-width;
    height: 100px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid white; /1* albacore *1/ */
  }
}

div#defender {
  position: absolute;
  top: -50px;
  line-height: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

