$offscreenLR: -1300px;
$offscreenTB: -500px;

body { 
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: bold;
  background: #111 url('img/stars.jpg') no-repeat center top;
  overflow-x: hidden;
}

div#game {
  position: relative;
  margin: 0 auto;
  /* border: solid 1px gray; */
}

div#candy-wrapper {
  position: relative;
  margin: 0 auto;
  width: 1px;
  /* box-sizing: border-box; */
  /* border: solid 1px gray; */
}

div#logo {
  position: absolute;
  top: 75px;
  width: 800px;
  margin: 0 0 0 -400px;
  text-align: center;
}

div#score {
  position: absolute;
  top: 178px;
  width: 800px;
  margin: 0 -400px 0 0;
  text-align: center;
}

div#background {
  position: absolute;
  top: 200px;
  width: 1800px;
  margin: 0 0 0 -900px;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: solid 1px lime; */
}

div#start-btn {
  position: absolute;
  z-index: 1001;
  top: 300px;
  width: 200px;
  margin: 0 -100px 0 0;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */
}

div#temp-start-btn {
  position: absolute;
  top: 300px;
  width: 200px;
  margin: 0 -100px 0 0;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: solid 1px hotpink; */
}

div#instructions, div#quit-instructions {
  font-size: .9em;
  color: #777;
  position: absolute;
  top: 600px;
  width: 800px;
  text-align: center;
}

div#instructions {
  left: $offscreenLR;
  margin: 0 0 0 -400px;
}

div#quit-instructions {
  right: $offscreenLR;
  margin: 0 -400px 0 0;
  /* box-sizing: border-box; */
  /* border: 1px solid teal; */
}

div#defender {
  position: absolute;
  top: -500px;
  line-height: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

div#asterisk-attack {
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */
}

div#attack-zone {
  width: 100%;
  height: 400px;
  /* box-sizing: border-box; */
  /* border: 1px solid green; */
}

div#buffer-zone {
  height: 40px;
  /* box-sizing: border-box; */
  /* border: 1px solid white; /1* albacore *1/ */
}

div#civilians {
  height: 100px;
  text-align: center;
  /* box-sizing: border-box; */
  /* border: 1px solid orange; */
}

div#start-btn a, div#temp-start-btn a {
  text-decoration: none; 
}


