$offscreenLR: -1300px;
$offscreenTB: -500px;

body { 
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: bold;
  background: #101010 url('img/stars.jpg') no-repeat center top;
  overflow-x: hidden;
}

div#effects {
  position: relative;
  margin: 0 auto;
  width: 1px;
  /* box-sizing: border-box; */
  /* border: solid 1px gray; */

  > div#logo {
    position: absolute;
    top: 75px;
    width: 800px;
    margin: 0 0 0 -400px;
    text-align: center;
  }

  > div#score {
    position: absolute;
    top: 184px;
    width: 800px;
    margin: 0 -400px 0 0;
    text-align: center;
  }

  > div#background {
    position: absolute;
    top: 200px;
    width: 1800px;
    margin: 0 0 0 -900px;
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px lime; */
  }

  > div.antena {
    position: absolute;
    font-size: .6em;
    color: #111;
  }

  > div#antena1 {
    top: 355px;
    left: -470px;
  }

  > div#antena2 {
    top: 283px;
    left: -294px;
  }

  > div#antena3 {
    top: 211px;
    left: -182px;
  }

  > div#antena4 {
    top: 192px;
    left: 178px;
  }

  > div#antena5 {
    top: 301px;
    left: 345px;
  }

  > div#antena6 {
    top: 391px;
    left: 474px;
  }

  > div#start-btn {
    position: absolute;
    z-index: 1003;
    top: 280px;
    width: 200px;
    margin: 0 -100px 0 0;
    text-align: center;
    /* box-sizing: border-box; */
    /* border: solid 1px blue; */
  }

  > div#start-btn a {
    text-decoration: none;
  }

  > div#instructions, > div#quit-instructions {
    font-size: .9em;
    color: #777;
    position: absolute;
    top: 600px;
    width: 800px;
    text-align: center;
  }

  > div#instructions {
    left: $offscreenLR;
    margin: 0 0 0 -400px;
  }

  > div#quit-instructions {
    right: $offscreenLR;
    margin: 0 -400px 0 0;
    /* box-sizing: border-box; */
    /* border: 1px solid teal; */
  }
}

div#zones {
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* border: solid 1px blue; */

  > div#attack-zone {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid lime; */
  }

  > div#game-over-zone {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    /* border: 1px solid white; /1* albacore *1/ */
  }
}

div#defender {
  position: absolute;
  top: -500px;
  line-height: 15px;
  /* box-sizing: border-box; */
  /* border: 1px solid brown; */
}

